# Configuration files
*.log
*.status
*.msg
*.inc

# Dependency files
make.depend

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
#*.out
*.app
*.x
tester
!tester/
driver
!driver/

# Directories with results of examples
results/

# Emacs temporary backups
*~

# Tests
userconfig
test.err.*
test.out.*
tests/*/*.out
*.pyc

# Documentation files
Doc/html/
Doc/latex/
Doc/INPUT_Environ.html
Doc/INPUT_Environ.xml
Doc/INPUT_Environ.txt
input_xx.xsl
test.sh
.DS_Store
*.99
CRASH

# Development files/folders
.vscode/
deploy
*.tar.gz
*.zip
